<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .container {
        display: flex;
        border: 1px solid blue;
      }

    </style>
  </head>

  <body>
    <div class="container">
      
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
